nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 15px 35px;
}
.nav-title{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
nav ul li{
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: rgb(107, 99, 99);
}
.header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;

}